[2016-05-27 14:39] vipulasri opened #3 "W/VideoServiceImpl: canStart. Error code: S_OK"
I mostly get this error when, Preview Texture View is loaded. Since i am getting this error, i am unable to see the Preview View.
`
W/VideoServiceImpl: canStart. Error code: S_OK`

[2016-05-27 20:51] richardtaylorrt commented on #3
Hi - sorry you're having problems.  Are you running one of the sample apps?  Which one?
Have you followed all the set up instructions in the app's readme file?  If you're still hitting problems, please can you send device logs - and details of the steps to repro - to [Skype Developer Insiders]( Skype developer insiders email box).  Thanks.

[2016-05-30 06:07] vipulasri commented on #3
Hello @richardtaylorrt I am using [GuestMeetingJoin](https://github.com/OfficeDev/skype-android-app-sdk-samples/tree/master/GuestMeetingJoin) sample code. I was able to run the code correctly and somehow it was working fine. After 2 subsequent runs/execution of code on device I am facing this error. And Link provided by you in previous comment for Skype Developer Insiders its showing 404 Page not

[2016-05-30 06:25] vipulasri opened #4 "Signing for Release APK"
Is there any Proguard Rules for the release apk? or any other configuration to be made for release apk.

[2016-05-31 16:58] richardtaylorrt commented on #3
Hi - apologies, I've now fixed the link above.  Please email skypedevinsiders@microsoft.com with device logs and repro steps for this error.  Thanks.

[2016-05-31 17:47] richardtaylorrt commented on #4
Hi - I'm not quite sure what you are asking.   Are you hitting a specific problem?

- There are no Proguard rules needed to run these sample applications.

- I don't believe you need to add any Proguard rules in order to create an application using this preview SDK.

Let me know if I have misunderstood what you are asking.

[2016-06-01 05:10] vipulasri commented on #4
@richardtaylorrt I was getting warnings while applying proguard, which i handled by applying some of the rules in proguard.

[code]

[2016-06-01 05:10] #4 closed

[2016-06-17 03:18] guoGavin opened #5 "participant's displayname is empty"
this.participantItemList.addOnListChangedCallback(listChangeListener);

When there is a person entering the meeting room

onItemRangeInserted() will be called.

but，the name of the person who has just joined is empty.

why?

[2016-06-17 03:24] rahulyaa commented on #5
Hi Gavin,

Please share the logs.

We have a bug in the SDK currently where the participant name is empty. We are planning to fix it in future releases.

I can confirm if this is the same issue you are seeing.

Thank you.

Get Outlook for Mobile<https://aka.ms/cq8ksb>

From: gavin guo
Sent: Thursday, June 16, 8:18 PM
Subject: [OfficeDev/skype-android-app-sdk-samples] participant's displayname is e

[2016-06-17 03:36] guoGavin commented on #5
hi，rahulyaa，

logs?how can I collect them?

There is no mistake.

Just getting the data is empty.

I will try to collect them,however, please give me some advice。

Thanks

[2016-06-19 20:18] asebak opened #6 "implementing sign in on healthcare app"
I noticed that the sign in page doesn't really authenticate.  How would I go about authenticating the skype for business credentials for a user and password?  At the same time how do you get the context of this signed in user such as contact list, their groups, etc?

[2016-06-21 09:46] luntik2012 opened #7 "rename your account to microsoft"
I thought it is useful repository, but it's from microsoft

[2016-06-22 16:45] rahulyaa commented on #6
Hi Ahmad,

The SDK does not support authenticated scenarios.

It currently only supports Anonymous Meeting Join.

We plan to add this in future releases, but there is no date for it yet.

Thanks
Rahul

From: Ahmad [mailto:notifications@github.com]
Sent: Sunday, June 19, 2016 1:19 PM
To: OfficeDev/skype-android-app-sdk-samples <skype-android-app-sdk-samples@noreply.github.com>
Subject: [OfficeDev/s

[2016-06-23 19:12] asebak commented on #6
ok thanks for the information!

[2016-06-23 19:12] #6 closed

[2016-06-28 23:15] JohnAustin-MSFT commented on #7
OfficeDev is a Microsoft organization. OfficeDev stands for Office Developer. Skype for Business is an Office product.

[2016-06-28 23:15] #7 closed

[2016-06-30 10:33] dheran opened #8 "Doctors video is not showing in Health care sample"
Hi,

I tried both Lamna health care sample and guest meeting join. and I used skype for business basic client on other end. I created meeting link via skype desktop and configured the link in both apps.

I noticed, video from mobile phone was shown in Skype desktop client but video from skype desktop client was not showing in the app.

[2016-06-30 17:19] rahulyaa commented on #8
In the guest meeting join sample, do you immediately navigate to the video view after the meeting is joined? What happens if you wait a few secs (say 10) and then switch to the video view?
Same on the video view, what happens if you wait a bit?

[2016-07-04 05:15] dheran commented on #8
@rahulyaa  I'm getting following error while clicking "VIDEO" button after 1min in guest meeting sample.

07-04 10:42:34.184 12536-12536/com.microsoft.office.sfb.sfbdemo W/System.err:     at com.microsoft.office.sfb.appsdk.VideoServiceImpl.setPaused(VideoServiceImpl.java:148)
07-04 10:42:34.184 12536-12536/com.microsoft.office.sfb.sfbdemo W/System.err:     at com.microsoft.office.sfb.sfbdemo.Video

[2016-07-25 08:51] bharatdodeja opened #10 "Cannot resolve method 'displayPreview(android.graphics.SurfaceTexture)' in ConversationHelper.Java"
I have followed steps given in read me, but still getting one error in file ConversationHelper.java at line number 353. Screenshot attached for the reference.

<img width="1008" alt="screen shot 2016-07-25 at 2 19 27 pm" src="https://cloud.githubusercontent.com/assets/1468510/17095593/f09017ce-5272-11e6-84ac-5718761973ba.png">

[2016-07-25 14:10] bharatdodeja commented on #10
It seems the method has been renamed to showPreview() but not changed in ConversationHelper class.

[2016-07-25 15:40] #3 closed

[2016-07-25 15:40] rahulyaa commented on #8
Are you still seeing this issue?

[2016-07-25 15:44] rahulyaa commented on #10
Thanks for reporting this.
Yes this is renamed to showPreview. We will fix this.

[2016-08-05 06:54] dheran commented on #8
@rahulyaa I found if provider got no mic means, this issue is happening.

And one more thing, Currently video gets stretched to the size of the parent layout (eg surfaceview) and not maintaining the video aspect ratio. How can I fix this?

[2016-09-08 18:16] jmsalcido commented on #8
I had this problem with a skype4biz meeting, I created another meeting with Outlook and it worked correctly, but the mic was off.

[2016-09-08 18:18] jmsalcido opened #11 "wellbabyreport class name"
Should be WellBabyReport

[2016-09-09 02:03] jmsalcido opened #12 "Audio not working"
I have no audio from the sample healthcare app, is this a recent bug?.

[2016-10-04 13:18] dheran opened #13 "Can you show how to maintain aspect ratio of the self video in the sample"
currently video is getting stretched upto the width of the parent.

[2016-10-05 05:03] rahulyaa commented on #13
Hi Dheran,

We will look into this.

Thanks
Rahul

From: dheran <notifications@github.com>
Reply-To: OfficeDev/skype-android-app-sdk-samples <reply@reply.github.com>
Date: Tuesday, October 4, 2016 at 6:18 AM
To: OfficeDev/skype-android-app-sdk-samples <skype-android-app-sdk-samples@noreply.github.com>
Subject: [OfficeDev/skype-android-app-sdk-samples] Can you show how to maintain aspect ratio of t

[2016-10-16 16:34] connelhooley commented on #12
Did you resolve this @jmsalcido ? I am able to receive audio, but not send any when I join a meeting anonymously using the GuestJoinMeeting sample.

[2016-10-17 07:36] bhargavms opened #14 "Response 500, when trying to join meeting on the guest sample app."
08-28 18:40:20.385 17298-17517/com.microsoft.office.sfb.sfbdemo I/[Http] HttpConnection: Got Response: 500 for: Post https://xxx.infra.lync.com/WebTicket/WebTicketService.svc/mex

[2016-10-17 07:45] rahulyaa commented on #12
Could you please confirm if you are muted or not?
The sample may have a bug with the mute state.

Thanks!

From: Connel Hooley [mailto:notifications@github.com]
Sent: Sunday, October 16, 2016 9:34 AM
To: OfficeDev/skype-android-app-sdk-samples <skype-android-app-sdk-samples@noreply.github.com>
Subject: Re: [OfficeDev/skype-android-app-sdk-samples] Audio not working (#12)

Did you resolve this @jms

[2016-10-17 08:40] connelhooley commented on #12
I can confirm I was not muted.

- I created a Meet Now conference using the SfB desktop client.
- Joined that conference using the GuestJoinMeet app.
- I joined muted, so I un-muted the anonymous user from the desktop client.
- I still could not hear the audio from my phone in the desktop client.

I have also tried toggling my mute state using the SDK (via the self participant object). The SfB des

[2016-10-17 08:44] rahulyaa commented on #12
Mute is implemented in the SDK and we have tested using the Nexus.
Let me try a few things as well.
I am assuming audio just works fine for you from others apps. Just ruling out a hardware issue…

Thank you!

From: Connel Hooley <notifications@github.com>
Reply-To: OfficeDev/skype-android-app-sdk-samples <reply@reply.github.com>
Date: Monday, October 17, 2016 at 1:40 AM
To: OfficeDev/skype-android

[2016-10-17 08:49] connelhooley commented on #12
I can confirm I can use the microphone to e.g. do a voice based 'Ok Google' search, so the microphone is functional.

[2016-10-17 15:19] jmsalcido commented on #12
I have not tested if it was updated, but I was not on mute, I could take a
look this week.

On Monday, 17 October 2016, rahulyaa <notifications@github.com> wrote:

--
Software Engineer at *Nearsoft <http://nearsoft.com>*
twitter: jmsalcido <http://twitter.com/jmsalcido>
G+: http://google.com/+JoseMiguelSalcidoAguilar

[2016-10-26 00:11] rahulyaa commented on #12
We have a new version of the SDK now. Please try this again on the new version. This works for us.
The local participant always joins the meeting muted. to unmute, go to the participants view in the sample and unmute self participant.
Please let me know if this works.

[2016-10-26 00:12] rahulyaa commented on #14
We have a new version of the SDK. Please download and retry.
Please let me know if this works

[2016-10-26 00:13] #10 closed

[2016-10-26 00:13] #8 closed

[2016-10-26 00:13] rahulyaa commented on #13
Sorry we dont have a solution yet. I will reply back with a solution

[2016-10-26 00:15] rahulyaa commented on #5
Sorry, this is an older issue. Please try with the latest version of the SDK and let me know if you still see an empty display name.

[2016-10-26 08:34] nabievnurlan7 opened #15 "java.lang.RuntimeException: Failed to load native library"
Hi. My name is Nurlan. Your Healthcare app builds and works(Connection establishes without problems) fine.

Then I took all classes and layots and other settings from your Healthcare app and put them into my own project. My project compiles and builds without errors.

But! When i try to start conversation my app crashes in SkypeCall.java with error message:
"
Caused by: java.lang.RuntimeException:

[2016-10-26 10:39] dskoneczny commented on #15
I added this libraries to my project manually:
http://www.awesomescreenshot.com/image/1758782/54bcd754385e4ec35415e13c098eb266
You can find this libraries in libucmp.aar file (change that file to *.zip)

[2016-10-26 11:45] nabievnurlan7 commented on #15
@dskoneczny Doesnt work. =(
I made jniLib in app/main/src. Then I put there *so files with armeabi folder. But nothing changed. Same error.
Should I do anything else except making jniLib and putting *so files there? For example: Delete "libucmp" from project build?...
Thanx a lot

[2016-10-26 12:13] dskoneczny commented on #15
@nabievnurlan7
Maybe something like this?
https://www.dropbox.com/s/e8gh3heu58uc05h/Screenshot%202016-10-26%2014.12.10.png?dl=0
And paste all files (*.so) in every folder
But it's only a walkaround

[2016-10-26 17:09] rahulyaa commented on #15
Hi,

Please dont crack open the aar and manually copy them. You will face a lot more issues if you try to this manually.

Easiest is to follow the gradle setup exactly as the HealthCare / SfbDemo sample apps:

The following steps should resolve this:
1. Copy the dependencies (aar and jar) from the SDK in your libs folder

2. Add a flatDirs section as shown here:
skype-android-app-sdk-samples/Healt

[2016-10-27 05:31] nabievnurlan7 commented on #15
@rahulyaa @dskoneczny I did as you said but nothing changed =(
Below is part of my build.gradle file. Thanx again

[2016-10-27 08:16] rahulyaa commented on #15
No... please follow the exact way that is provided in the sample app.
Please check that your path is expanding correctly in the directory where you have saved the aar files for the sdk.

Also, annotations-1.0 should be present in the libs folder. I have seen issues where is does not pick up from another dir.

Also use compile(name: "libucmp", ext: 'aar') instead of compile project ...

[2016-10-28 05:54] nabievnurlan7 commented on #15
@dskoneczny @rahulyaa I did as you said. I put all commands and dependecies to gradlefiles. But, still doesnt work =/ App crashes

Any ideas guys? And thanx again

[2016-10-28 12:29] rahulyaa commented on #15
If you are still seeing the same crash, it means that the flatdirs is not pointing to the right location.
Please make sure flatdirs is added in the top level build.gradle file.
Our project gradle should only add dependencies.

[2016-10-28 19:33] connelhooley commented on #12
Hi @rahulyaa , I have just tried the 0.7.0.3 release. I am seeing the following behaviour in both my own prototype and the GuestMeetingJoin sample (I just downloaded it again so I have the latest version).

Audio does not start at all now when I join the conference anonymously. I join the conference but only via IM. I have linked screenshots below of my desktop client and mobile app.

The end call

[2016-10-28 20:36] rahulyaa commented on #12
Hi Connel,

Could you please post the spew that you see in logcat. This will surely help me in isolating the issue.
Does this happen for scheduled conferences too?

Thanks a lot
Rahul

[2016-10-28 21:11] connelhooley commented on #12
I joined a meet now conference with the app. I sent an IM, replied to the IM on my desktop, then pressed the stop call button. The Logcat output is here:
https://1drv.ms/t/s!Aj8XEJtTbLMbjCxKJKQ8JvuhJn4j

The same happened for a scheduled conference. The Logcat output is here:
https://1drv.ms/t/s!Aj8XEJtTbLMbjC5Xth5m1suPxn7C

Thanks
Connel

[2016-10-28 21:44] rahulyaa commented on #12
Perfect. Thanks for the output. Let me look through and will get back to you.

[2016-10-31 05:20] nabievnurlan7 commented on #15
@rahulyaa I checked up my project.gradle and build.gradle files. flatDirs added in the top level of build.gradle.
But nothing happens. Same error

May I show my project.gradle and build .gradle files?

[2016-10-31 18:13] rahulyaa commented on #15
Sure.
Please also make sure that the path you are specifying in flatdir is resolving correctly

[2016-11-01 04:19] nabievnurlan7 commented on #15
@rahulyaa Can you explain me one thing?... :
When i am trying build app with params in gradle like "compile(name: "libucmp", ext: 'aar')" gradle cannot build app and shows error like:
"Error:Failed to resolve: :libucmp:"
Can explain me how to fix this? And what I gotta do to put this libs(*.aar files) into my "libs" folder?
Thank you so much!

[2016-11-04 17:10] sbadoni opened #16 "Desktop Sharing"
Is it possible to do desktop sharing like we have in Skype For business?

[2016-11-04 17:34] rahulyaa commented on #16
We do not have desktop sharing enabled in this version of the SDK. We are considering it for future iterations. Thanks for the feedback.

[2016-11-07 05:45] nabievnurlan7 commented on #15
@rahulyaa ??

[2016-11-07 09:24] kacso commented on #12
Hi there,
I am experiencing same issue here. I tried with healthcare, guest meeting sample and also with my own example. In each situation in desktop client is shown that I don't have audio and video while chatting is working.
I'm using SDK 0.7.0.3 and also tried on Samsung Galaxy A5 (2016), Samsung Galaxy S5 and Sony Xperia Z3.

Is this limitation of SDK or issue with samples?

Thanks,
Danijel

[2016-11-07 13:44] dskoneczny opened #17 "Exclude okhttp3 from platform.aar"
Hello,
It's possible to exclude okhttp3 from platform.aar file?
I'm using skype with react-native and I have this error message:
`Error:Execution failed for task ':app:transformClassesWithJarMergingForArmDebug'.

[2016-11-07 17:49] #16 closed

[2016-11-07 17:51] rahulyaa commented on #15
If you are hitting this

"Error:Failed to resolve: :libucmp:"

It means that your flatdir path is not resolving correctly.

Can you please print it out and check if the path is indeed pointing to the right location.

[2016-11-07 17:54] rahulyaa commented on #12
We have identified the issue. We will post an update this week.

Thank you!

[2016-11-08 08:55] dheran opened #18 "Self video setPaused getting failed"
Please check the log

[2016-11-08 16:41] tharoldD commented on #15
@nabievnurlan7 did you ever manage to get this fixed. I'm having the same issue and I have gone through all the recommended steps by @rahulyaa but to no avail.

[2016-11-09 10:30] nabievnurlan7 commented on #15
@tharoldD Nope! Same errors.

[2016-11-09 10:40] nabievnurlan7 commented on #15
@rahulyaa @tharoldD @dskoneczny

Hi, Rahulyaa! =)

**Question1:** "Can you please print it out and check if the path is indeed pointing to the right location." . Excuse me, =) can you explain how can I do that?

**Question2:** Can you have look at my gradle files?

**=======================================
1. This is my projects gradle file:**

` apply plugin: 'application'
def SDKROOT = ".."

bui

[2016-11-09 22:03] rahulyaa commented on #12
Hi,

We have addressed this issue and updated bits are available on the download site:
https://msdn.microsoft.com/en-us/skype/appsdk/download

Please take a look at the note on the download page.

Let me know if you see issues.

[2016-11-10 00:11] rahulyaa commented on #15
Try this

flatDir {
            dirs "../mobile-bank/libs"
            def dir     = file("../sfbdemo/libs").absolutePath
            println("Path " + dir)
        }

When you compile the project, this should print out if the path is resolving correctly.

Also ensure all the appsdk binaries are in the mobile-bank/libs dir.

[2016-11-10 00:12] rahulyaa commented on #17
Thanks for the feedback. I will look into this.
In the meanwhile can you use compile (..) { exclude .. } to unblock yourself?

[2016-11-10 03:30] tharoldD commented on #15
@rahulyaa can you maybe help me to understand one thing. How come the sample apps can load the native libraries without any issues, but I'm struggling to get my app to load the same libraries even after following all your instructions to the letter. Could there be some important step that was not highlighted in the documentation(Getting started guide)???

[2016-11-10 06:42] qiuxiaoj commented on #15
The jni lib in `libucmp` not contain x86_64 version，where am i download it?
Thank you for your help!

[2016-11-10 06:59] rahulyaa commented on #15
@tharoldD
I would surely like to fix it if anything is missing.
There is no magic to this.

1. All .jar files should be placed in the libs folder
2. You can place .aar files at any location (Just make sure that you specify the path correctly in flatdir as explained above)
For convenience I have kept all of them in libs folder in the GuestMeetingJoin demo.
Best to follow the gradle file in the demo

[2016-11-10 07:00] rahulyaa commented on #15
@qiuxiaoj Yes, we are not supporting x86_64 at this time. What is your use case? Are you trying this on an emulator?

[2016-11-10 07:03] rahulyaa commented on #18
@dheran Thanks for reporting this. I have seen this once before. Do you see this consistently? Can you please share out the complete debug spew on onedrive / any other share?

[2016-11-10 07:07] qiuxiaoj commented on #15
@rahulyaa Oh no.I am running on Mi4c。Thank you!

[2016-11-10 07:17] tharoldD commented on #15
@rahulyaa could you maybe define what your setup is like so we can rule that out as a factor.

Personally I have tested on two machines.

**A MacBook** _running macOS Sierra_

and a

**PC** _running Ubuntu 16.04_

both with Android Studio 2.2 and Android SDK 25

Also... Is NDK a requirement for my project, to be able to use the sdk?

[2016-11-10 08:56] nabievnurlan7 commented on #15
@rahulyaa I did as you said and below is gradlelog:
`Path /home/lupus/AndroidStudioProjects/mobile-bank/libs
Path /home/lupus/AndroidStudioProjects/mob-banking-skype2/mobile-bank/libs
Path /home/lupus/AndroidStudioProjects/mob-banking-skype2/mobile-bank/libs
Path /home/lupus/AndroidStudioProjects/mob-banking-skype2/mobile-bank/libs
Path /home/lupus/AndroidStudioProjects/mob-banking-skype2/mobile-b

[2016-11-10 09:16] nabievnurlan7 commented on #15
@rahulyaa  Is there any other ways to do this step
"1. Copy the contents of the AppSDKAndroid folder into your project: Copy from your App SDK download folder into the libs folder of your project module." [Link](https://msdn.microsoft.com/en-us/skype/appsdk/gettingstarted)
than doing "File - Project Structure - New module - Import JAR/AAR package"?
Because i added all libs in "Project Structure"

[2016-11-10 22:27] nithish-p opened #19 "SfbCertificateTrustEngine: Certificate NOT trusted by the standard OS trust manager:"
Hi,

I have a meeting url which works on desktop client  and web app . I do not see any response when i use this url and click on join meeting button.

In the trace I could find the certifcate is not trusted and request is cancelled after this.
11-10 17:23:41.513 4382-22006/com.microsoft.office.sfb.sfbdemo V/[Http] SfbCertificateTrustEngine: Certificate NOT trusted by the standard OS trust manager

[2016-11-11 09:44] NikhilBansal21 commented on #15
@rahulyaa hello  i am also facing same problem my guest meeting app crashes with the same error earlier i fixed the problem somehow but now i am not able to resolve this issue i tried adding annotations.jar to compile by going through Project structure. I also had problem integrating it in an independant application but that too was resolved but now my guest meeting sample app is showing same erro

[2016-11-11 09:45] NikhilBansal21 commented on #15
Process: com.microsoft.office.sfb.sfbdemo, PID: 6226
                                                                                java.lang.RuntimeException: Unable to start activity ComponentInfo{com.microsoft.office.sfb.sfbdemo/com.microsoft.office.sfb.sfbdemo.MainActivity}: java.lang.RuntimeException: Failed to load native library

[2016-11-11 11:29] nabievnurlan7 commented on #15
@rahulyaa ? =)

[2016-11-11 16:48] rahulyaa commented on #19
@nithish-p We do not support untrusted certificates in the SDK.
If this is a test environment you will have to install the cert manually on the device before trying out the scenario.

[2016-11-11 19:20] nithish-p commented on #19
Actually the original url
https://meet.domain.com/userid/dgg2k76z
 is redirected as
https://skypwebservice.domain.com/Meet?origurl=aHR0cHM6Ly9tZWV0LmFpcnByb2R1Y3RzLmNvbS9wYXBwaW5uL2RnZzJrNzZ6

The above url fails in the browser too. If we flip the host meet.domain.com instead of skypwebservice.domain.com , it works in browser.

Is there any way we can stop redirection of the url which in turn sear

[2016-11-11 19:35] connelhooley commented on #12
Now going to give it a try. Just downloaded it and I *think* I have the correct version.

The downloaded file name is actually 0.7.0.4 not 0.7.1. I'm hoping they're the same? Screenshot is linked below.
https://1drv.ms/i/s!Aj8XEJtTbLMbjC8fpXZnDC0KqgTv

The readme.txt also says v0.5 just so you know.

[2016-11-11 20:30] connelhooley commented on #12
@rahulyaa can confirm the latest version works as expected. I've tested using both a 365 and on-prem meet now conference.

Thanks
Connel

[2016-11-15 05:29] nabievnurlan7 commented on #15
@rahulyaa Hi. Still doesnt work. I transfered all my classes and libs to Healthcare app. But same error appears!

Can you tell me: can I use your Skype WEB SDK in my android app? Will it work properly??

[2016-11-15 06:36] rahulyaa commented on #12
@connelhooley Thanks for reporting this and verifying.

[2016-11-15 06:36] #12 closed

[2016-11-15 06:38] rahulyaa commented on #19
@nithish-p The SDK does not provide anything to configure re-direction. We dont intend to expose this.
I will get back to you with more information on this.

[2016-11-15 06:51] rahulyaa commented on #15
@nabievnurlan7 This isnt a problem with the SDK. Multiple people have used this. this is an issue with your configuration of the project.  But, definitely want to help you resolve this.

Lets get some things out of the way:
From your path output, there are two folders that are libs:
/home/lupus/AndroidStudioProjects/mobile-bank/libs
/home/lupus/AndroidStudioProjects/mob-banking-skype2/mobile-bank/

[2016-11-15 06:54] rahulyaa commented on #15
@tharoldD Building the SDK should work on both Mac and Windows

Android Studio 2.2
Gradle should be 2.1.3
TARGET_SDK_VERSION is 22

The SDK internally uses the NDK. Should not affect the app you are building.

[2016-11-15 06:55] rahulyaa commented on #15
@NikhilBansal21 Can you please follow the steps I posted above OR follow the GuestMeetingJoin demo?

[2016-11-15 07:15] dheran commented on #18
@rahulyaa  yes i'm getting this frequently. I'll get you complete log.

[2016-11-16 05:48] nabievnurlan7 commented on #15
@rahulyaa =)
Yes. This paths are correct
/home/lupus/AndroidStudioProjects/mobile-bank/libs
/home/lupus/AndroidStudioProjects/mob-banking-skype2/mobile-bank/libs

I did everything as you said in my application. I made "libs" dir nearby "src" in "mobile-bank". Then i put to libs all *.aar files.
Then in my gradle script i put
    compile(name: "libucmp", ext: 'aar')
    compile(name: "platform", ex

[2016-11-16 06:09] NikhilBansal21 commented on #15
@nabievnurlan7  can you tell me your annotation is taking 25 sdk number or 22??

[2016-11-16 08:59] nabievnurlan7 commented on #15
@NikhilBansal21 Excuse me =) But i didnt understand your question

[2016-11-16 09:02] nabievnurlan7 commented on #15
@rahulyaa I have another *.aar libs in projects. I inserted them into project with  Android Studio.
Should put them into libs directory like Skype aap-files?

[2016-11-16 09:03] NikhilBansal21 commented on #15
@nabievnurlan7  is it showing this in gradle dependancy compile 'com.android.support:support-annotations:25.0.0' ???

[2016-11-16 09:28] nabievnurlan7 commented on #15
@NikhilBansal21
compile 'com.android.support:support-v4:24.0.0'
compileSdkVersion 23

[2016-11-17 00:22] rahulyaa commented on #15
@nabievnurlan7 yes Annotations.jar also needs to be put in the libs dir.

It is odd that the Healthcare sample works and your app does not not. I am running out of ideas on why your project does not pick up the binaries correctly. Does the GuestMeetingJoin demo work as well?

Right now, my only suggestion would be to create a simple Android Studio project, include the aar's and modify gradle flatd

[2016-11-17 00:25] rahulyaa commented on #11
Will fix.

[2016-11-17 00:25] #11 closed

[2016-11-17 00:30] #5 closed

[2016-11-17 00:30] #14 closed

[2016-11-17 05:42] tharoldD commented on #15
@rahulyaa I had already tried the approach you have suggested to @nabievnurlan7 but even then, calling the...

`Application.getInstance(this);`

still results in a... "Could not load native library error"

[2016-11-17 18:21] rahulyaa commented on #15
@tharoldD @nabievnurlan7

What device are you trying this on? Which OS version does it have?

[2016-11-17 18:34] tharoldD commented on #15
Huawei Mediapad M3, Android 6.0

[2016-11-17 18:43] rahulyaa commented on #15
@tharoldD This should work. The sample is working on the device right?
If yes,
Please share out on a file share:
1. Complete gradle console spew
2. logcat spew when you load the sample and hit the error.

[2016-11-17 19:02] nithish-p commented on #19
@rahulyaa  The App started working when I imported root certificate of redirect url into my mobile device.
Is there any option in app/sdk to prompt user to install the cert while opening the app?

The video option is still not working. It just opens the blank video page . Please find log below after  clicking video button

11-17 13:30:34.213 31505-31505/? I/SFB: INFO APPLICATION CUcmpConversations

[2016-11-17 19:08] rahulyaa commented on #19
@nithish-p We don't support untrusted certificates in the SDK. This is currently a topic of discussion and we will let you know how it goes.
For audio / video looks like you have an On premise deployment for SFB server.
Please download the latest version of the SDKI from the download site.
Please ensure you have set enablePreviewFeatures(true)
Let me know if this works.

[2016-11-17 23:23] tharoldD commented on #15
I have been experimenting with a few different setups and it seems like the Skype SDK does not play well with [Realm](https://realm.io/docs/java/latest/).

At least in my case... starting from a new Android Studio project and adding the Skype SDK then tracing the application flow. I can confirm that the libraries are loaded.

Then on including Realm as the only dependency, and tracing the applicat

[2016-11-18 14:40] nithish-p commented on #19
@rahulyaa Thanks ,the video works now with latest SDK and enablePreviewFeatures(true).

 DigiCert High Assurance EV Root CA is the root certificate which we imported into the device.

[2016-11-18 22:38] rahulyaa commented on #19
@nithish-p Good to know. Will let you know on the certificate issue.

[2016-11-28 06:31] ghostring31 opened #22 "No implementation found for int com.microsoft.media.MMVRSurfaceView.createRenderer"
When inflaiting view with MVVRSurfaceView on vide_fragment_layout app is crashing with error:
FATAL EXCEPTION: main
                                                                       Process: example.com.skypetest, PID: 14717
                                                                       java.lang.RuntimeException: Unable to start activity ComponentInfo{example.com.skypetest/example.co

[2016-12-02 20:08] rahulyaa commented on #22
Hi, I tried this on my side... can you confirm you have all the latest binaries and a rebuild produces the same issue?

[2016-12-05 08:50] NikhilBansal21 commented on #15
@rahulyaa  still this problem is comming....i have tried to resolved it using offline gradle but as soon as i restart the project same error occurs...i would be really glad that you help me out with this it is giving alott of trouble to me on my project

[2016-12-05 13:07] ghostring31 commented on #22
I use latest version of SDK 0.7.1 (In version 0.7.0.4 same problem)
If i comment MMVRSurfaceView in my XML file all OK.

[2016-12-05 20:43] vijay559 opened #23 "P2PAnonChat app not working"
ConversationHelper has unresolved symbol errors for the following code.

     DevicesManager.Endpoint endpoint = DevicesManager.Endpoint.LOUDSPEAKER;
//        switch(this.devicesManager.getActiveEndpoint()) {
//            case LOUDSPEAKER:
//                endpoint = DevicesManager.Endpoint.NONLOUDSPEAKER;
//                break;
//            case NONLOUDSPEAKER:
//                endpoint =

[2016-12-06 22:37] rahulyaa commented on #23
P2P sample is not the correct sample. It has been removed. We do not support P2P conversations yet

[2016-12-07 06:58] ghostring31 opened #24 "Error code "CALLFAILED"."
When I tried to connect to audio/video call server returns error code "CALLFAILED" all time in my app and in GuestMeetingJoin sample on Android version 6.0+.
On others versions of Android all working (like 5.0.1, 4.4.4 etc.).

[2016-12-07 07:06] ghostring31 opened #25 "Audio not working"
Same problem.
https://github.com/OfficeDev/skype-android-app-sdk-samples/issues/12

Using  SDK version 0.7.1 (Preview) (0.7.0.4 on download)

[2016-12-07 10:48] dheran opened #26 "Meeting joining was unsuccessful in Android Tablets"
In Android tablets (tried Samsung SM-T531, Samsung SM-T805) there is no action after clicking join meeting button in guest meeting sample.
I tried in 5.1.1 samsung mobile phone, It works fine there.

Here is the log form the device SM-T531 armeabi-v7a (5.0.2).

[code]

[2016-12-07 10:51] dheran opened #27 "Debugging gets crashed. Apk export works fine"
If I run application by connecting with USB, application is getting crashed. But it works when I export the application.

Here is the crash log

[code]

[2016-12-07 19:10] dheran commented on #18
Here is the complete log

[code]

[2016-12-07 21:40] rahulyaa commented on #27
@dheran What do you mean "Connecting with USB"

[2016-12-07 21:46] rahulyaa commented on #26
@dheran Can you please confirm that the clock is set correctly on the device?

[2016-12-07 21:48] rahulyaa commented on #25
@ghostring31 Is this your app?
Few things to confirm:
1. Is your server deployment on-premise?
If Yes to 1, Have you set enablePreviewFeatures(true) in your app?

[2016-12-07 21:48] rahulyaa commented on #24
@ghostring31 Where do you see the CallFailed error?
Is this an error code returned by some API, or an Alert that you see?

[2016-12-07 21:52] rahulyaa commented on #22
@ghostring31 Have you looked at the sfbdemo sample? The sample works just fine. Could you please point out the difference to me between your app and the sample?

[2016-12-07 21:57] rahulyaa commented on #18
@dheran Can you update the conversationHelper toggle paused function as below and retry?

The only check I am making is to call canSetPaused

public void toggleVideoPaused() {
        boolean videoPaused = this.videoService.getPaused();
        try {
            if (this.videoService.canSetPaused()) {
                this.videoService.setPaused(!videoPaused);
            }
        } catch (SFBExce

[2016-12-07 21:58] rahulyaa commented on #15
@NikhilBansal21 I am at a loss here. The best suggestion I have is to try a clean sample with the steps above and call application.getInstance and see if it works.

[2016-12-08 04:46] dheran commented on #18
Yes you are correct. I didn't changed anything in conversation helper.

[2016-12-08 04:47] dheran commented on #26
Yes it is.

[2016-12-08 04:49] dheran commented on #27
Debugging with device by pressing run button in android studio.

[2016-12-08 06:14] ghostring31 commented on #22
The difference between the my app and sample is version of gradle build tools:
-in my app gradle:2.2.2
-in samole gradle:2.1.0

[2016-12-08 06:18] ghostring31 commented on #24
"CALLFAILED" comes to OnAlertCallback in my anonymousConversation (Coversation class)

[2016-12-08 06:21] ghostring31 commented on #25
No. This problem exists in sample GuestMeetingJoin and in my app.

[2016-12-08 06:24] ghostring31 commented on #25
Endpoint changes status to LOUDSPEAKER, but microphone not working.

[2016-12-08 15:36] dheran commented on #26
@rahulyaa how did you find the reason in the log?

[2016-12-08 15:36] #26 closed

[2016-12-15 06:36] ghostring31 commented on #25
I solved this problem by:
   -changing build tools version to 2.1.0 ( next steps ~working on newest versions)
   -unmute myself in ParticipantsList in the call

[2016-12-15 06:37] #25 closed

[2016-12-15 13:00] dheran opened #28 "Participant video is not getting resumed after putting video activity in background"
In GuestMeeting app, after joining meeting and opening video fragment when we minimize the application by pressing home key in android, it's not showing the participant video when we open it back from recent apps. Self video is working.

[2016-12-15 13:00] dheran commented on #27
Hi, @rahulyaa

Do you have any updates on this issue?

[2016-12-21 14:19] VincentH-Net opened #29 "setActiveCamera fails with error since SDK version 0.8"
Camera switching worked in SDK version 0.5 but fails in SDK version 0.8

The video preview starts OK and shows the front camera image.

However, when attempting to switch the camera later with setActiveCamera, that method fails even though canSetActiveCamera returns true. The error in device log says:

IMediaChannel::AttachDevice() failed with error E_MM_NOTSUPPORTED
...
IMediaCallWrapper::setActi

[2016-12-22 09:01] uthuynhvn opened #30 "Leave an anonymous meeting sometimes throw an exception"
We integrate Skype for Business SDK to our Android application. Follow the sample https://github.com/OfficeDev/skype-android-app-sdk-samples/tree/master/GuestMeetingJoin
Video, void and chat run well.
But sometimes we got an exception when try to leave an anonymous meeting.
Please help us. Thanks you.
**Code**
`if (this.currentConversation.canLeave())
                    {

[2016-12-22 10:04] VincentH-Net commented on #18
I have the same issue - setPaused fails consistently on establishing a video call, when setPaused called on the first canSetPausedChanged where canSetPaused() returns true.

Later calls to setPaused do succeed so it is not a blocking issue.

The salient log messages are:
`12-22 10:37:56.488: I/SFB(6484): INFO MMINTEGRATION CMediaCallWrapper.cpp:1429 (MCWobject:0xc1673b80)CMediaCallWrapper::getMedi

[2016-12-28 21:50] rahulyaa commented on #29
@VincentH-Net Thanks for reporting this. This is a known issue that we will address in our next update.

[2016-12-28 21:54] rahulyaa commented on #27
@dheran We have never seen this one before. We always debug using Android Studio.

Question: Do you have any other app that is using the SDK also installed on the device?
If yes, can you please uninstall it and try again?

[2016-12-28 21:55] #23 closed

[2016-12-28 21:56] rahulyaa commented on #30
@uthuynhvn Thanks for reporting this. I will look into this.

[2016-12-28 21:59] rahulyaa commented on #18
@dheran @VincentH-Net This is a known issue that we will address in our next update.

[2016-12-29 11:20] oicramsilveira opened #31 "Getting Http error 500 on Skype SDK authentication anonymously"
Has anyone had an authentication problem with the anonymous method?

I am using the Skype Developer Android SDK and when I trying to perform the join in a meeting (joinMeetingAnonymously) I am having an HTTP 500 error.

I verified that the error is being launched when the service "/WebTicket/WebTicketService.svc/Anon" is called, no event is logged in the EventLog of the Windows server where the sk

[2016-12-29 15:28] dheran commented on #27
@rahulyaa but it works when it was installed as apk (release export)

[2017-01-10 14:33] oicramsilveira commented on #31
It was a problem in the reverse proxy.
Solved.

[2017-01-10 14:33] #31 closed

[2017-01-12 01:44] rahulyaa commented on #22
@ghostring31 Picking up on this one again. Did moving to older gradle version work for you?

[2017-01-12 01:45] rahulyaa commented on #30
@uthuynhvn Are you unregistering for property change notifications on leave?

[2017-01-12 01:47] rahulyaa commented on #24
@ghostring31 Do you see this with the latest version as well?
We havent heard of this from more users so wondering.

[2017-01-12 01:49] rahulyaa commented on #28
@dheran Could you please try this on the latest version. I dont see this issue in our internal version.

[2017-01-12 01:53] rahulyaa commented on #27
@dheran looking at your trace, it appears that we failed to intialize our DB.
Is the app getting installed on an SD card?
Which device / os are you using?

[2017-01-16 02:04] uthuynhvn commented on #30
I registered some property change call back notifications like:
[code]
What are property change I have to unregister? Because I must keep `OnConversationPropertyChangedCallback` to listen when the conversation leave actually.

Thanks for your reply.

[2017-01-20 06:45] ghostring31 commented on #24
I'm using last version of SDK -  0.8 Preview

[2017-01-20 06:46] ghostring31 commented on #22
All the same. Nothing changed

[2017-01-25 14:51] dimitrisAA opened #32 "failed to resolve files from sdk"
i download code run it on android studio but when i tried to integrate the sdk (from the site you posted) on the code at libs android studio failed to decode the sdk . more precisely it failed to launch the aar files . i entered to one aar file and inside there were strange simbols which means that there is a problem with the decoding . but i dont know if there is a problem that consider your code

[2017-01-25 18:44] #32 closed

[2017-01-27 21:32] rahulyaa commented on #30
@uthuynhvn I have fixed this. Please download the latest version of the SDK and give it a try.

[2017-01-27 21:32] #30 closed

[2017-01-27 21:33] rahulyaa commented on #29
@VincentH-Net This is now fixed. Please try it in the latest verison of the AppSDK

[2017-01-27 22:15] rahulyaa commented on #18
@dheran @VincentH-Net This is now fixed. Please try the latest version of the SDK

[2017-01-27 22:15] #17 closed

[2017-01-27 22:17] #28 closed

[2017-01-27 22:18] rahulyaa commented on #27
@dheran Please also ensure that you have single app using the SDK on your device. We have a known issue with mulitple apps using the SDK installed the same time on the device.

[2017-02-13 18:17] #29 closed

[2017-02-13 18:17] #18 closed

[2017-02-17 07:08] sbadoni opened #33 "External USB Camera"
How do we connect external USB camera?As i can see SDK have enum EXTERNAL of type Camera.

[2017-02-21 19:59] rahulyaa commented on #24
Please re-open on if seen on the latest version.

[2017-02-21 19:59] #24 closed

[2017-03-15 07:44] guoGavin commented on #5
Already in version 0.8 or higher

[2017-03-15 07:53] guoGavin opened #34 "My video preview defor."
MMVRSurfaceView has a method setAutoFitMode(MMVRSurfaceView.MMVRAutoFitMode_Crop). So it looks good(IncomingVideo).
however, my video preview defor. In my case, TextureView width and height are 100dp.
Start Preview : videoService.showPreview(surface)

我发现在预览我自己的视频的时候，使用的是TextureView，这个在显示的时候，会有些变形，因为我的给它设置的宽和高都是100dp。
我会解决一些camera和TextureView结合的开发而产生的变形，但是demo里面的变形，看起来只能从sdk层面去解决，我应该怎么解决这个问题？
我看MM

[2017-03-15 11:33] guoGavin opened #35 "MMVRSurfaceView is black"
At first, it can work well, but when I turn off the phone screen and then open and found the video can not play properly, MMVRSurfaceView is black.
I know that the onSurfaceTextureDestroyed method is called when the screen is turned off. So MMVRSurfaceView was destroyed.
But when I open the screen again, how do you see the video?

My solution is to create a new MMVRSurfaceView when the screen is o

[2017-03-15 16:51] rahulyaa commented on #33
We do not support External camera. The enum External is added for future releases. Sorry the comments should have mentioned it. We will fix the comment.

[2017-03-15 16:51] #33 closed

[2017-03-15 16:53] rahulyaa commented on #35
@guoGavin  Is this with the sample SfbDemo or healthCare apps? Or is this in your own app?

[2017-03-16 02:17] guoGavin commented on #35
@rahulyaa SfbDemo(GuestMeetingJoin) and my app are like this.

[2017-03-16 02:39] guoGavin commented on #35
Before closing the screen，it can work well；关闭屏幕之前，看起来不错:
![screenshot_20170316-103332](https://cloud.githubusercontent.com/assets/5715824/23979416/5e234abc-0a34-11e7-9fbf-70e2e4a3a8eb.png)
Close the screen and open again. MMVRSurfaceView is black；关闭屏幕之后再次打开，就是黑色的，看不到视频：
![screenshot_20170316-103345](https://cloud.githubusercontent.com/assets/5715824/23979460/99aa94be-0a34-11e7-9c03-586b86fc2ce5.pn

[2017-03-16 12:35] guoGavin opened #36 "group video"
How should I achieve multiplayer video？
My approach is to create a ParticipantVideo for each MMVRSurfaceView.
Although you can achieve, but when the number of the performance is very poor, very Carlton.
After the test I know can display up to five “IncomingVideo”.

What is the best way to achieve it?

我应该怎么样来实现多人视频。
我现在的方法是为每一个ParticipantVideo创建一个MMVRSurfaceView。
虽然可以实现，但是当人数很多的时候，效果非常不好，很卡顿，而且手机也

[2017-03-16 12:45] guoGavin commented on #35
@rahulyaa
I need to solve this problem quickly.
and i really need to realize the function of multi person video.[#36](https://github.com/OfficeDev/skype-android-app-sdk-samples/issues/36).
However, due to the time difference, our communication efficiency is very low.
If you can, I hope you can send mail to me(gavinguo@yipinapp.com).Thanks.

我真的很需要快速解决这个问题。
而且我很需要实现多人视频的功能[#36](https://github.com/O

[2017-03-16 13:56] rahulyaa commented on #36
@guoGavin What is the issue here?
1. Do you see the video for all the remote participants?
2. Performance is slow?

[2017-03-16 14:06] rahulyaa commented on #35
@guoGavin What happens to your activity (or fragment) when the phone is turned off?
Is the activity destroyed?
You will need to handle this case in your activity lifecycle handlers.

[2017-03-17 01:53] guoGavin commented on #36
@rahulyaa Two problems need to be solved.
I did the same thing as you said, Because I use GridView to show  the list of all participants. For each participant. i create a new MMVRSurfaceView to show the video of the participant.
When participants are more, the performance is very slow.
You can see my Adapter file.
[Adapter File](https://github.com/guoGavin/Skype-Android-Sdk-Sample-Problem)

两个问题都需

[2017-03-17 07:07] guoGavin commented on #35
Please see my sample.
[https://github.com/guoGavin/SkypeAndroidSdkDemo](https://github.com/guoGavin/SkypeAndroidSdkDemo)

[2017-03-17 10:38] guoGavin opened #37 "Set user ID"
In sdk, we use the following way to join the meeting.
`application.joinMeetingAnonymously(displayName, URI.create(meetingUri));`
Can I set up a user ID?
I can get this ID when I get a participant.

[2017-03-18 12:18] guoGavin opened #38 "auto paused"
Why my video and audio will be auto paused when we minimize the application by pressing home key in android?

[2017-03-21 20:24] rahulyaa commented on #37
@guoGavin  No. We only support display name

[2017-03-21 20:24] #37 closed

[2017-03-21 20:25] rahulyaa commented on #38
@guoGavin No we dont auto pause anything by default. PLease handle the events for your activity lifecycle.

[2017-03-21 20:29] rahulyaa commented on #27
Please retry with the GA released version

[2017-03-21 20:29] #27 closed

[2017-03-21 20:30] #38 closed

[2017-03-22 09:16] guoGavin commented on #37
ok,thanks

[2017-03-22 09:17] guoGavin commented on #38
@rahulyaa ok,thanks

[2017-03-22 09:18] guoGavin commented on #36
@rahulyaa Any suggestions?

[2017-03-22 09:18] guoGavin commented on #35
@rahulyaa Any suggestions?

[2017-03-22 09:19] guoGavin commented on #34
@rahulyaa Any suggestions?

[2017-03-22 16:51] rahulyaa commented on #35
Like I mentioned before:
 What happens to your activity (or fragment) when the phone is turned off?
 Is the activity destroyed?
 You will need to handle this case in your activity lifecycle handlers.

[2017-03-23 09:38] guoGavin commented on #35
Not destroyed. execute the onPause() method
My solution is to create a new MMVRSurfaceView when the onRestart() method is called.
But I think it's too much of a waste of resources.

[2017-03-30 07:48] fabiomercorillo commented on #35
I have same problem

[2017-04-11 06:52] Jayanth-P commented on #22
Has anyone found a solution for this issue?

[2017-04-19 15:38] dcmen opened #39 "How to tell if video of remote participant is pause/unpause (APP SDK)?"
I use below code:
ParticipantVideo participantVideo = this.remoteParticipantLeader.getParticipantVideo();
                participantVideo.subscribe(this.mmvrSurfaceView);

                participantVideo.addOnPropertyChangedCallback(new   Observable.OnPropertyChangedCallback() {
                    @Override
                    public void onPropertyChanged(Observable observable, int i) {

[2017-04-20 09:15] guoGavin commented on #39
Me too.
[code]

[2017-04-20 09:48] VincentH-Net commented on #39
**I have a workaround** for this bug, which lets me detect remote video pause/unpause so I can hide or show the remote video view on remote video (un)pause.

I encountered this defect in the SfB Android App SDK, in all versions from 0.5 to the currrent 1.1
**Hopefully the SfB App SDK for Android team will fix this soon!** Are you watching guys?

Here is my workaround :

1. Join the meeting with th

[2017-04-20 11:59] VincentH-Net opened #40 "Rename the armeabi folders in the SDK .AAR files to armeabi-v7a to target the correct ABI"
Some of the SDK's .AAR files contain **armeabi** folders with native libraries, while the SDK documentation states: "The Public Preview App SDK supports **armeabi-v7a** processors only" ([link](https://msdn.microsoft.com/en-us/skype/appsdk/platformconsiderations#android-versions))

In Xamarin Android, these armeabi folders causes the SfB App SDK to fail loading in apps that target armeabi-v7a only

[2017-04-20 13:20] techlectdinesh commented on #15
Hi @rahulyaa @nabievnurlan7 @NikhilBansal21 , could u please provide link to download libacomo.so file.
i am also stack on

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.microsoft.office.sfb.sfbdemo/com.microsoft.office.sfb.sfbdemo.MainActivity}: java.lang.RuntimeException: Failed to load native library at android.app.ActivityThread.performLaunchActivity(ActivityThread.jav

[2017-04-20 16:58] rahulyaa commented on #39
@dcmen @guoGavin @VincentH-Net I will look into this one.
Thanks for reporting this.

[2017-04-21 16:09] 4brunu commented on #22
The problem is that you are inflating the xml that contains this view `com.microsoft.media.MMVRSurfaceView` before instantiate `com.microsoft.office.sfb.appsdk.Application` and maybe `com.microsoft.office.sfb.appsdk.Conversation` (not sure if the last one is required).

[2017-04-24 11:23] 4brunu opened #41 "Sometimes the method onCanStartVideoServiceChanged is not called with canStartVideoService = true"
Hi,

The `ConversationCallback` is really inconstant.

Sometimes it calls some methods multiple times, sometimes it don't call them at all.

The problem I'm getting right now is that sometimes the method `onCanStartVideoServiceChanged(boolean canStartVideoService)` is never called with value true...

I simulate two diferente situation.

The first one, I only init the `ConversationHelper` and don't

[2017-04-24 16:43] 4brunu commented on #41
I created a sample project to illustrate the issue.

https://github.com/4brunu/SkypeForBusinessAndroidVideoIssue

In the App, I'm trying to archive the automatic start of the video, when someone join's the skype for business metting. When the method is called with true, the video work's out of the box, otherwise it doesn't, and the only way to get it to work, is to click the button pause/resume th

[2017-05-03 00:10] ckoessler opened #42 "USB Camera support"
Hello,
I am trying the run the sample app (HealthCare App) using a Logitech HD Pro Webcam C920 camera plugged on my Android device's USB port. The camera does not load.

I tried calling `videoService.getActiveCamera();` and got the following error:
[code]

My device runs 7.0

[2017-05-03 00:35] rahulyaa commented on #42
@ckoessler We do not support external camera. The enum has the "external" property for future expansion. The documentation unfortunately did not mention this is for future releases.
At this time, there is no timeline set for external camera support.

[2017-05-04 08:26] techlectdinesh opened #43 "Failed to load native library"
E/dalvikvm: dlopen("/data/app-lib/com.microsoft.office.sfb.sfbdemo-1/libacomo.so") failed: Cannot load library: soinfo_link_image(linker.cpp:1636): could not load library "libsqlcipher.so" needed by "libacomo.so"; caused by load_library(linker.cpp:746): library "libsqlcipher.so" not found
05-04 13:54:23.724 11460-11460/com.microsoft.office.sfb.sfbdemo E/AndroidRuntime: FATAL EXCEPTION: main

[2017-05-04 14:28] techlectdinesh opened #44 "could not load library "libsqlcipher.so""
com.microsoft.office.sfb.sfbdemo E/dalvikvm: dlopen("/data/app-lib/com.microsoft.office.sfb.sfbdemo-2/libacomo.so") failed: Cannot load library: soinfo_link_image(linker.cpp:1636): could not load library "libsqlcipher.so" needed by "libacomo.so"; caused by load_library(linker.cpp:746): library "libsqlcipher.so" not found

[2017-05-05 09:54] techlectdinesh commented on #15
Hello everyone final i have resolve this issue.
 Here is the problem in Application class -

private static boolean LoadNativeLibrary() {
        try {
            if(!sLibComoIsLoaded.get()) {
                System.loadLibrary("gnustl_shared");
                System.loadLibrary("roottools");
                System.loadLibrary("RtmMediaManagerDyn");
                System.loadLibrary("acomo");

[2017-05-05 10:06] techlectdinesh commented on #44
Hello everyone final i have resolve this issue.
 Here is the problem in Application class -

private static boolean LoadNativeLibrary() {
        try {
            if(!sLibComoIsLoaded.get()) {
                System.loadLibrary("gnustl_shared");
                System.loadLibrary("roottools");
                System.loadLibrary("RtmMediaManagerDyn");
                System.loadLibrary("acomo");

[2017-05-05 12:58] DummeDitte opened #45 "Nothing works"
Let me start by apologizing for stupid questions, but I'm a complete newbie when it comes to both Skype and Android developing.

I've installed Android Studio.
I've cloned the project.
I've added the meeting URL to the strings.xml file.
I've copied the SDk files to a libs folder - but I created it manually, since it did not excist, and the files don't seem to be recognized.
I've added til Conversa

[2017-05-05 15:46] rahulyaa commented on #15
@techlectdinesh the sqlcipher is included in the package. Please look at this thread above. the aar needs to placed in the libs folder for this to work

[2017-05-05 15:47] rahulyaa commented on #44
@techlectdinesh I don't think you need to do that. Which version of the sdk are you using?

[2017-05-05 15:48] rahulyaa commented on #43
Duplicate of the other issue

[2017-05-05 15:48] #43 closed

[2017-05-05 15:48] #42 closed

[2017-05-05 15:48] rahulyaa commented on #42
See comment above.

[2017-05-05 16:55] 4brunu opened #46 "Camera orientation"
Hi, I'm having an issue with the camera orientation.

When the device is in portrait, everything is ok, but when the device orientation changes, the camera orientation stays in portrait, but the screen orientation is in landscape.

How can I make sure that the camera orientation stay the same as the device orientation?

Thanks

[2017-05-08 06:16] techlectdinesh commented on #44
Hi @rahulyaa
i am using SkypeForBusinessAppSDKAndroid-1.1.0.0

[2017-05-08 06:51] techlectdinesh opened #47 "ownSip must be valid!"
Hi @rahulyaa
i am getting this error

05-08 12:06:17.708 7698-7698/com.microsoft.office.sfb.sfbdemo E/SFB: ERROR UTILITIES /Volumes/ServerHD2/buildagent/workspace/335323/src/dev/lyncMobile/utilities/miscellaneous/public/CHashedString.h:195 ownSip must be valid!
05-08 12:06:18.138 7698-7698/com.microsoft.office.sfb.sfbdemo E/SFB: ERROR TRANSPORT /Volumes/ServerHD2/buildagent/workspace/335323/src/de

[2017-05-08 06:58] techlectdinesh commented on #19
Hi @rahulyaa @nithish-p
i am getting this error

 E/SFB: ERROR UTILITIES/Volumes/ServerHD2/buildagent/workspace/335323/src/dev/lyncMobile/utilities/miscellaneous/public/CHashedString.h:195 ownSip must be valid!
 E/SFB: ERROR TRANSPORT /Volumes/ServerHD2/buildagent/workspace/335323/src/dev/lyncMobile/ucmp/transport/metadatamanager/private/CMetaDataRequest.cpp:153 Empty credentials. Unable to add X-

[2017-05-08 13:43] techlectdinesh opened #48 "Nothing happen on clicking JOIN MEETING button"
05-08 19:12:17.776 27186-27186/com.microsoft.office.sfb.sfbdemo I/SFB: INFO UTILITIES CBasePersistableComponent.cpp:205 Storing 1 out-of-sync components took 0.008209s
05-08 19:12:17.776 27186-27186/com.microsoft.office.sfb.sfbdemo I/SFB: INFO APPLICATION CClientTelemetryProvider.cpp:412 Sending telemetry to ARIA for type(SignOut) signatureName() errorCode(S_OK (S0-0-0)) description()
05-08 19:12:

[2017-05-08 13:48] techlectdinesh commented on #26
Hi @dheran  how you solve timezone problem.

[2017-05-08 13:49] #44 closed

[2017-05-08 16:40] rahulyaa commented on #44
@techlectdinesh Is this resolved? If yes, what was the issue?

[2017-05-20 08:21] techlectdinesh commented on #19
Hi @rahulyaa  The app must be uploaded on Playstore to trusted certificates in the SDK ? or it can work on test environment.
 please help me

[2017-05-30 12:41] Jayanth-P commented on #15
Hello,
Is this issue resolved?
I too get this issue "java.lang.RuntimeException: Failed to load native library", when i try to get instance from Application i.e., "Application.getInstance(getActivity().getApplication().getApplicationContext());"
I have tried all the above steps but unfortunately none work for me.
Please Help!

[2017-06-05 05:57] techlectdinesh commented on #15
Hi @Jayanth-P  ,

Please just add

System.loadLibrary("sqlcipher");

 before below line.

this.application = Application.getInstance(this.getApplication().getApplicationContext());
 Happy Coding :)

[2017-06-05 17:01] rahulyaa commented on #15
@Jayanth-P  @techlectdinesh
You shouldn't need to load this explicitly. If you have placed all the SDK AAR's in the correct location as mentioned in my previous replies in this thread, the sqlcipher should get loaded automatically.

[2017-06-05 17:02] #22 closed

[2017-06-13 10:06] fabiomercorillo opened #49 "Video escalation between two ATTENDEES with Android devices not working"
Hi,
in my use case I make a video escalation between 2 attendees using Android devices. After video service started with success for each participant,
in which everyone subscribe itself to the video streaming of the other participant, the video preview and the surface connected to the remote participant work fine for few seconds,
but after rendering some video frames the video service of both part

[2017-06-13 12:08] fabiomercorillo opened #50 "Video escalation between two ATTENDEES with an Android and an iOS devices not working"
Hi,
in my use case I make a video escalation between 2 attendees using an Android and an iOS devices. After video service started with success for each participant,
in which everyone subscribe itself to the video streaming of the other participant, the video preview and the surface connected to the remote participant work fine for few seconds,
but after rendering some video frames the video servic

[2017-06-20 20:37] #45 closed

[2017-06-28 13:00] Amihir1 opened #51 "Allow Multiple users for Video"
Currently in this application only 2 video stream is shown, Is it possible that i can shown all members video who join the meeting?

If yes ,then can you please share some guidelines or code???

[2017-06-28 16:12] rahulyaa commented on #51
Yes you can. Similar to the sample, you can subscribe to each participants video. Take a look at the sfmdemo project, VideoFragment.java, VideoStreamSurfaceCreatedCallback method.

[2017-06-29 06:52] Amihir1 commented on #51
@rahulyaa  I have created another MMVRSurfaceView , i want to show 4 users video, Is there any thing for
Participant.Role.LEADER that i need to change.

If possible can you please share some code. Thanks in advance.

[2017-06-29 10:48] Amihir1 commented on #51
@rahulyaa  I have make some changes in the method, Please check below code.

public void VideoStreamSurfaceCreatedCallback(MMVRSurfaceView mmvrSurfaceView) {
        this.mmvrSurfaceView = mmvrSurfaceView;
        this.mmvrSurfaceView.setAutoFitMode(MMVRSurfaceView.MMVRAutoFitMode_Crop);
        this.mmvrSurfaceView.requestRender();
        try {
            for (Participant participant : this.rem

[2017-07-14 05:49] praween05 commented on #50
Hello,

I am also facing the same issue. I am not able to see or listen other participant video or audio. It is just appearing as a black player container. I have tried joining the meeting using the iOS device and using an Android device. Android user is not able to see the video of iOS participants.

FYI we both user can chat in the same meeting room

[2017-07-14 05:57] praween05 commented on #49
Hi,

I have tried the sample app by guest user joining app. When I joined with 2 Android devices. Both participants cannot see each other video but they can exchange messages with each other. The audio call is also not working. Can you please look at this issue.

Thanks

[2017-07-17 11:58] Kurt57 commented on #47
@techlectdinesh do you have news about this error?

[2017-07-26 21:57] rahulyaa commented on #51
@Amihir1 Did you resolve this? All all the participants in the meeting leaders?
Participant.Role.LEADER

[2017-07-27 20:16] rahulyaa commented on #48
@techlectdinesh Are you still hitting this issue?

[2017-07-27 20:17] #15 closed

[2017-07-27 20:17] #34 closed

[2017-07-31 10:24] techlectdinesh commented on #48
Yes @rahulyaa  but unfortunately nobody replying here . I am very upset with this Skype helping Group. No Support worst ever help from Community.

[2017-07-31 10:26] techlectdinesh commented on #47
No @Kurt57   but unfortunately nobody replying here . I am very upset with this Skype helping Group. No Support worst ever help Community for Skype for Business support.

[2017-08-01 15:35] #51 closed

[2017-08-01 15:37] rahulyaa commented on #50
@fabiomercorillo @praween05 We have an internal report about this. The culprit right now is the Samsung devices. We need some logs for the issue. Collect logs:

1.       /sdcard/Android/data/[Your App ID]/cache/[Your App ID].blog
There could be multiple .blog files, please grab all of them.

2.       /data/data/[Your App ID]/Tracing/*.log
All .log files at this location.

E.g.
adb shell "run-as co

[2017-08-01 15:41] rahulyaa commented on #48
@techlectdinesh Can you please share out the complete logs?

Log files are here on the device:
 /data/data/[Your App ID]/Tracing/*.log
All .log files at this location.

E.g. log files will be app_log_0.log etc.
adb shell "run-as com.microsoft.office.sfb.sfbdemo ls /data/data/com.microsoft.office.sfb.sfbdemo/Tracing"

[2017-08-02 12:17] paollika commented on #50
Unfortunately this same error goes with another Android devices as weel, like we've tried sony's device with the same black screen error too.

[2017-08-03 07:04] veer3383 opened #52 "anonymous call Conversation callbacks"
[code]
Has anyone got this thing working? except IDLE state, no other state is ever called.

[2017-08-03 23:24] jovillas commented on #50
Hi, could you share the logs so we can investigate the issue?

[2017-08-03 23:24] jovillas commented on #49
Closing this as duplicate of #50

[2017-08-03 23:24] #49 closed

[2017-08-03 23:36] jovillas commented on #47
Hi are this logs filtered on ERROR?

Could you please share the complete logs so we can investigate?
[Collecting Logs](https://github.com/OfficeDev/skype-android-app-sdk-samples/wiki/Collecting-logs)

[2017-08-03 23:42] jovillas commented on #19
@techlectdinesh  Hi, it is not clear to me if you are having the same problem as originally reported on this issue. Form the text you pasted, it seems that the certificate is trusted.

Regarding your other question, what you need to get your certificate to be trusted on a test environment is to install the root certificate manually on the device, as was done by the OP.

[2017-08-03 23:45] jovillas commented on #41
@4brunu could you try with the last version of the SDK and let me know if you still see this issue?

[2017-08-04 09:34] veer3383 commented on #46
Even i am facing this issue..

Since we don't have direct access to camera object, as a workaround i tried to rotate the videoPreviewVideo view (camera stream) by getting the device camera's natural orientation using this below method. It returns 0, 90, 180, or 270.
Even this doesn't solves the problem completely, as the fix is applied to View rather than Camera, so it will only show the video pro

[2017-08-07 09:30] 4brunu commented on #41
@jovillas There is no new version of the SDK for Android.

The last release is still 1.1 from February.
https://www.microsoft.com/en-us/download/details.aspx?id=51961

Only the SDK for iOS has a new version, 1.2 from July.
https://www.microsoft.com/en-us/download/details.aspx?id=51962

[2017-08-08 09:12] paollika commented on #50
Hi,

Please find attached the logs from this problem.

Logs are taken from the

Device: Samsung Galaxy Tab S3 (SM-T825)
Android version: 7.0

Please do note that there are some customer spesific information in these, so do not share or publish them in the gitHub.

Br,

Pasi

________________________________
Lähettäjä: Jorge Villasenor <notifications@github.com>
Lähetetty: 4. elokuuta 2017 2:24
Vas

[2017-08-09 21:41] jovillas commented on #50
Hi @paollika I see you responded through email. It seems github doesn't [support](https://github.com/blog/811-reply-to-comments-from-email) emal attachments and it just ignore them.

Could you attach the logs directly on the github webpage? As I see on their [docs](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/), not all file formats are supported but a zip file sho

[2017-08-15 00:28] jovillas commented on #50
hi @paollika could you send me the logs to my email directly? jovillas@microsoft.com

I haven't been able to find a S6 device to test, I'm testing with a S4 and haven't been able to reproduce it. Can you think on something else, aside of the device version, that can be specific to your environment? And just to confirm, is this happening with the GuestMeetingJoin, the HealthcareApp demo or on a dif

[2017-08-15 23:32] jovillas commented on #50
Hi all, I found a way to reproduce this issue, but I would like to confirm if this is what is happening on your applications.

On the GuessMeetingJoin application, we subscribe only to the Leader participant, you can see it  [here](https://github.com/OfficeDev/skype-android-app-sdk-samples/blob/master/GuestMeetingJoin/sfbdemo/src/main/java/com/microsoft/office/sfb/sfbdemo/VideoFragment.java#L257),

[2017-09-04 06:45] guoGavin opened #53 "videoService.setPaused() failed"
videoService.canSetPaused() is true，however，videoService setPaused() failed.
After that，videoService.canSetPaused() always is false.

![jllo6ierr2i7 zd i4at6g9](https://user-images.githubusercontent.com/5715824/30014493-1e38bef0-917f-11e7-9ae0-ca99cc3baa43.png)

[2017-09-05 06:57] j7arsen commented on #35
I have same problem

[2017-09-07 22:45] jovillas commented on #53
Hi, could you provide logs for this issue so we can debug it?

[Collecting Logs](https://github.com/OfficeDev/skype-android-app-sdk-samples/wiki/Collecting-logs)

[2017-09-13 16:50] jovillas commented on #50
Talked with @paollika offline and the issue was fixed on their side.

[2017-09-13 16:50] #50 closed

[2017-09-15 11:45] VincentH-Net commented on #39
@rahulyaa any progress on this? Is it fixed in 1.0.3?
(1.0.3 has been out for 10 days now but without any release notes on what was fixed / changed. 1.0.3 is not even mentioned on https://msdn.microsoft.com/en-us/skype/appsdk/releasenotes)

[2017-09-22 12:05] sukeshikontel opened #54 "Failed to load native library"
when i try to run the application sbfdemo it throws exception failed to load native library

[2017-09-27 19:17] dcchristopher opened #55 "videoService canStart/canStop always returning false since 1.3.0.0"
Everything is working fine using the 1.1.0.0 AARs/JARs. Updating to 1.3.0.0 appears to affect the video service and its ability to send video. I never used the built-in conversation helper in Android because I had to make enough modifications / extensions to support our use cases. Nevertheless, my version of the helper worked flawlessly (currently in production) up to the moment I tried to upgrade

[2017-09-27 19:39] dcchristopher commented on #55
So the first time I glanced at the logs I could not really see anything useful. I stepped away and came back and did notice that canStart was throwing error codes. Initially it throws E_BootstrapInProgress which makes sense. Once the conversation data starts to flow though, it continues to throw E_ActionNotAvailable. I don't know if that's equivalent to saying "well, it has already started so it c

[2017-09-28 09:38] veer3383 commented on #54
I have faced this issue, posted answer for this over [here](https://stackoverflow.com/questions/44881206/skype-for-business-android-sdk-issue-failed-to-load-native-library/46465808#46465808)

[2017-10-03 15:58] 4brunu commented on #46
@veer3383 could you share more details on what do you with the value returned by this function? Thanks

[2017-10-10 15:11] 4brunu commented on #41
@jovillas after testing with the 1.3.0 SDK version, the problem is still there.

[2017-10-25 13:37] alexcohn commented on #15
@rahulyaa In theory, on devices with Lollipop and above, the native lib dependencies are resolved automatically. There is some evidence, though, that Huawei ROM does not take care of this correctly.

[2017-11-22 03:57] jihadrhamza commented on #55
Any update on this issue?

[2017-11-30 13:29] surekha77 opened #56 "Skype api integration in native android app"
am new to  skype api integration can anyone tell me how to integrate it in my android app.and how to get that sky api in my applicatiion

[2017-12-01 10:34] oicramsilveira opened #57 "Display name is not returned"
The display name is not being returned in this code snippet :
[code]
Could you guys confirm if there is a way to get the name of the participant?
If we have more than two participants is it impossible to know who send the message.

[2017-12-01 10:43] oicramsilveira commented on #56
Hi friend,
You have to do this: https://msdn.microsoft.com/en-us/skype/appsdk/gettingstarted

[2017-12-29 09:48] naihe opened #58 "ParticipantVideo.isPause() always return false ."

[2018-01-30 18:39] lcruzp opened #59 "com.microsoft.office.sfb.appsdk.SFBException: GetActiveCamera Failed"
Using the same code i got this exception once I hit this:

this.videoService.getActiveCamera().GetType()

the Exception is the following:
com.microsoft.office.sfb.appsdk.SFBException: GetActiveCamera Failed

Any suggestions?

[2018-02-13 14:47] picce commented on #54
I have the same problem running both the samples in this repo using google glass Enterprise.
I've tried with the solution in the previous comment but did'nt work.
Any suggestion? Is the problem due to google glass ATOM cpu?

[2018-03-20 15:52] marshallmcdougall opened #60 "Can browse a presented PowerPoint even when an attendee"
Users are able to go through the slides of a presented PowerPoint file while using the Android app even when they are granted attendee permissions.

[2018-05-02 18:53] mauropajunior opened #61 "JNI DETECTED ERROR IN APPLICATION: JNI GetStaticMethodID called with pending exception java.lang.ClassNotFoundException"
Hello, people.
We are getting the error below when we initialize the sdk with the instruction:

Application application = Application.getInstance(this.getApplication().getApplicationContext());

We've already searched about this kind of error and tryed everything, including disabling Instant Run. We followed the instructions to set up the sdk on the Microsoft site.
Our project was working with the

[2018-06-05 19:20] dcchristopher commented on #55
Well, this is not an issue with 1.4.0.0 so ... case closed?

[2018-06-05 19:21] #55 closed

[2018-06-06 15:11] dcchristopher commented on #55
Follow-up note ... this "issue" is still present in 1.4.0.0 (I don't know why I got lucky on the first try but it hasn't worked since). The root cause however is that I was expecting a VideoService.CAN_START_PROPERTY_ID => true to trigger the unpausing of the video so that the connection can be considered "established". I have updated the code to also accept a VideoService.CAN_STOP_PROPERTY_ID =>

[2018-07-24 12:59] AubertK opened #62 "Rotate Camera Preview"
Hi,

I want to access to the camera used by the sfb sdk. I try to integrate sdk in a custom hardware, so I have to rotate the camera preview for the image to be the right way.
Right the preview is turned 90 degrees and I can't rotate it.
I see that there is the RealCameraImpl object that has the setDisplayRotation function. Unfortunatly I can only get a CameraImpl object that doesn't have this fun

[2018-08-12 12:12] agortsepaev opened #63 "Not possible to login: continue button is out of screen"
1. Update application
2. Launch application
3. Enter login as requsted
4. Enter password as requested
5. Enter country and date of birdth
ER: continue button is accesible
AR: button is out of screen working area

Nexus 5, resolution fullHD, android 6.0.1, skype latest

[2018-08-12 12:15] agortsepaev commented on #63
[
![screenshot_20180812-135917](https://user-images.githubusercontent.com/42316998/44001874-20d35936-9e3a-11e8-9aa0-2bc8db23154e.png)
](url)

[2018-09-06 07:03] rahulkushwaha482 opened #64 "Failed to resolve: :SkypeForBusinessTelemetryService:"
I got this error while opening this app in Android Studio First Time. What is the cause and better solution for that? Please resolve my problem. I got these issues:-
Failed to resolve: :SkypeForBusinessTelemetryService:

Failed to resolve: :SkypeForBusiness: |  
-- | --
Failed to resolve: :SkypeForBusinessTelemetryService: |  
Failed to resolve: :SkypeForBusinessNative: |  
Failed to resolve: :Sky

[2018-09-06 08:11] #64 closed

[2018-09-07 09:46] jd1984 opened #65 "Security Warning - Certificate prompt for wrong domain name"
Hi,

When logging in to SFB on prem with: user.name@company.**org**

A server presented a certificate that could not be verified. Do you wish to continue?
Issued by: RapidSSL RSA CA 2018
Subject: www.company.**com**

If you check the website in a browser on the mobile, the chain is trusted, so it's not a missing root or intermediate cert.

For some reason, the app is loading a cert from a differen

[2018-10-02 18:02] EngMohadese commented on #64
@rahulkushwaha482 did you find the answer?

[2018-10-02 18:08] EngMohadese commented on #40
@VincentH-Net "Failed to resolve" errors are related to this ?

[2018-12-13 05:39] khurramengr opened #66 "How to achieve screen sharing"
Hi @rahulyaa I am trying to upstream [ARCore rendered content](https://github.com/google-ar/arcore-android-sdk/blob/master/samples/hello_ar_java/app/src/main/java/com/google/ar/core/examples/java/helloar/HelloArActivity.java) which is being rendered in **GLSurfaceView**.
But in the SDK i don't see any option that allows me to do that, the SDK only allows to set FRONT or BACK facing cameras as the

[2018-12-19 13:05] khurramengr commented on #15
@tharoldD same issue occurs when you add the ARCore dependency(**implementation 'com.google.ar:core:1.6.0'**) in build.gradle file.
Did you manage to find any fix in your case?

[2018-12-20 06:01] mdchaniyara opened #67 "JOIN MEETING button not working in GusestMeetingJoinDemo for android sample"
getting below log:

12-20 11:20:15.671 12270-14347/com.microsoft.office.sfb.sfbdemo D/[Http] HttpConnection: OnReceiveData for uri: https://teams.microsoft.com/dl/launcher/launcher.html?url=%2f_%23%2fl%2fmeetup-join%2f19%3ameeting_mdzlmgexnjqtyjq5oc00ogqwlwjhmgetnjq5yjyynwu1njk1%40thread.skype%2f0%3fcontext%3d%257b%2522tid%2522%253a%252284861aed-3734-42df-be9b-de3e1c6eccdb%2522%252c%2522oid%2522%2

[2019-01-01 07:58] sachen commented on #62
Have you found a solution?
It seems one has no control of the orientation of the outgoing video itself. Even you can fix the self preview, the remote user still see the video side way or upside down depending on your devices orientation.

[2019-01-08 14:07] badreelal-patidar1 opened #68 "Group Chat Name Not Changed"
On **Skype lite (android)** my **group chat name** not same with **web (windows 7)**. My group name with skype lite with **Don't Rush** and  web name with **Kar98k** .but I am able to sent and received message from both device with different group chat name.

[2019-03-20 12:10] 4brunu opened #69 "Crash in Application.getInstance(Context) on Android API 29"
Hello,

I'm having an issue on Android API 29.

When I call the method `Application.getInstance(Context)` the app crashes.
This doesn't happen on API 23 for example.
I haven't tested on all versions, only in this two versions.
I will try to test in more versions.

Anyone else having this issues?

<details><summary>Stack Trace</summary>
<p>
E/NetdConnector: RCV <- {613 IfaceClass active 1 730962151

[2019-03-21 11:09] rahulkushwaha482 commented on #64
@EngMohadese  Yes I resolved this .

[2019-04-20 08:48] jeanmi999 opened #70 "Auto focus not working"
Skype for Business app, available on Play Store, activates auto focus when the phone supports it.
In my projects, auto focus in never activated. Sometimes the video is totally blurred as the focus is determined when the video service starts and is never adjusted.
Is there a way to activate auto focus or a more recent version of SDK which supports auto focus ?

[2019-04-22 14:31] TheVirtuoso27 commented on #64
How :v

[2019-05-15 13:21] VysotskiVadim opened #71 "skype can't handle deeplink if opened with deep link"
Steps to reproduce:
1. Open Skype with deeplink:
adb shell am start -a android.intent.action.VIEW -d "skype:echo123?chat"
2. Exit from Skype by back button
3. Open Skype with deeplink again
Expected result:
Skype opens chat with echo123
Actual result:
Skype opens main screen

[2019-07-11 08:37] Yashshree commented on #64
How?? GettingSame Error..

[2019-09-05 13:03] yuguqingleili commented on #69
I had the same issue!The Android system can not support the HttpClient api after Android 23,so I tried to reload the Apachi's jar in my project,but It seems to have no use. I do no know the reason!

[2019-09-06 06:56] zzhceo commented on #69
I have already solved the problem, in the module's dependencies add follows: implementation 'org, apache httpcomponents: httpclient: 4.5.9', used IDE is Android studio version 3.5, project is GuestMeetingJoin.

[2019-12-06 17:07] jeanmi999 commented on #69
I fixed this issue by adding
<uses-library android:name="org.apache.http.legacy" android:required="false"/>
in the application section of the AndroidManifest file

[2019-12-06 17:09] jeanmi999 commented on #69
If fixed this issue by adding
`<uses-library android:name="org.apache.http.legacy" android:required="false"/>`
in the application section of my AndroidManifest file

[2020-02-17 13:25] bipin-aressindia commented on #67
Hi @mdchaniyara I am also facing the same issue. Did any one find a fix for this?

[2020-06-03 09:45] avikhazra opened #75 "Terms of service check box is getting Multiplied after selecting Wallet or Net banking in skype"
Steps:
1. Select America Free service call.
2. Fill the details of Billing Address
4. you can see one checkbox for terms of service
3. in the Payment mode select Wallet or Net banking.
4. Now One pop is coming that It is not applicable for a free trial
5. select the free trial button from pop up.
6. now you can see the two checkboxes for terms of service
7. Select 1st checkbox and now you can see

[2020-06-03 13:28] #75 closed, assigned to nobody

[2021-01-24 21:27] Sidrti commented on #69
Thanks solved my issue too